<div class = 'stocks-list'>
   <div class="container stock" style="background-color: #FFD580; color: black;"> 
        <div class="row">
            <div class="col-3 text-uppercase">
                <p>Company</p>
            </div>

            <div class="col-3 text-uppercase">
                <p>Symbol</p>
            </div>

            <div class="col text-uppercase">
                <p>Price</p>
            </div>
            <div></div>
        </div>
    </div>
    {{#each stocks as |stock|}}
        <div class = "container stock">
            <div class="row">
                <div class="col">
                    <p>{{stock.company}}</p>
                </div>

                <div class="col">
                    <p>{{stock.symbol}}</p>
                </div>

                <div class="col">
                    <p>{{stock.price}}</p>
                </div>
                <div class="col">
                    
                    <button id = 'buy-button' class = 'buy-button'>
                        <img class = 'button-image' src = '/images/buy-button.png'>
                    </button>
                    <div id = 'id-{{stock.id}}' class = 'hide'>{{stock.id}}</div>
                </div>
            </div>
        </div>
    {{/each}}
</div>