<section class = 'section-wrapper'>

    {{>sidebar-nav}}

    <section class = 'body-section'>
        <div class = 'text-center'>
            <h1>Stocks Marketplace</h1>
            <h4>These are all of the stocks that are currently available.</h4>
            <h4>This is your current balance: <span id = 'current-balance'>{{balance}}</span></h4>
            <p id = 'id-hide' class = 'id-hide'>{{id}}</p>
        </div>
        
        <div class = 'stocks-list'>
            {{#each stocks as |stock|}}
                <div class = 'stock'>

                    <div>
                        <p>{{stock.company}}</p>
                    </div>

                    <div>
                        <p>{{stock.symbol}}</p>
                    </div>

                    <div>
                        <p>{{stock.price}}</p>
                    </div>

                    <div>
                        <button class = 'buy-button' >
                            <img class = 'buy-button' src = '/images/buy-button.png'>
                        </button>
                    </div>
                </div>
            {{/each}}
        </div>
            

    </section>

</section>

<script src="./js/market.js"></script>