<section class = 'section-wrapper'>
    {{>sidebar-nav}}

    <section class = 'body-section'>
        <div class = 'text-center'>
            <h1>Stocks Marketplace</h1>
            <h4>These are all of the stocks that are currently available.</h4>
            <h4>This is your current balance: <span id = 'current-balance'>{{balance}}</span></h4>
            <p id = 'user-id' class = 'hide'>{{id}}</p>
        </div>
        <div class = 'stocks-list'>
            <div class="container stock" style="background-color: #FFD580; color: white;"> 
                <div class="row">
                    <div class="col text-uppercase mobile">
                        <p>Company</p>
                    </div>

                    <div class="col text-uppercase mobile">
                        <p>Symbol</p>
                    </div>

                    <div class="col text-uppercase mobile">
                        <p>Quantity</p>
                    </div>
                    <div class="col text-uppercase mobile">
                        <p>Price</p>
                    </div>
                    <div class="col text-uppercase mobile">
                        <p>Sell</p>
                     </div>
                </div>
            </div>
            {{#each stocks as |stock|}}
                <div class = "container stock">
                    <div class="row">
                        <div class="col mobile">
                            <p>{{stock.company}}</p>
                        </div>

                        <div class="col mobile">
                            <p>{{stock.symbol}}</p>
                        </div>

                        <div class="col mobile">
                            <p>{{stock.quantity}}</p>
                        </div>

                        <div class="col mobile">
                            <p>${{stock.price}}</p>
                        </div>

                        <div class="col mobile mobile-center">
                            <input class="quant-input" data = {{stock.quantity}} type="number" id="sell" name="add-balance" />
                            <button id = 'sell-button' data={{stock.price}} class = 'sell-button'>
                                <img class = 'button-image' src = '/images/sell-button.png'>
                            </button>
                            <div id = 'id-{{stock.id}}' class = 'hide'>{{stock.id}}</div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
</section>

<script src="./js/profile.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>